<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for character encoding and responsive design -->
  <title>PT2 Image</title>

  <!-- Meta tags for character encoding and responsive design -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Setup Bootstrap CSS for styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<!-- Document's body, and is a container for all the visible contents, such as headings, paragraphs, images, hyperlinks, tables, lists, etc. -->


<body>

  <script>
    window.alert(5 + 6);
  </script>
  <!-- Type your codes here -->
  <!--------------------------- 1st Container for header --------------------------->
  <div class="container-sm|md|lg|xl px-3 m-3"> <!-- BackGround -->

    <!-- EXAM: Change header text to your project name -->

    <!-- ============================================================================
         2ND CONTAINER 1ST ROW - BUTTONS
         ============================================================================ -->
    <!-- 2nd Container 1st row -->
    <div class="row"> <!--   remove padding if need be  -->


      <img id="line1" src="../static/line.png" alt="No Image loaded">


    </div>

    <div class="row"> <!--   remove padding if need be  -->


      <img id="title" src="../static/title.png" alt="No Image loaded">


    </div>

    <div class="row p-3"> <!--   remove padding if need be  -->


      <img id="line2" src="../static/line.png" alt="No Image loaded">


    </div>







  </div>
  <!--------------------------- 1st Container for header --------------------------->





  <!-- 2nd Container  -->
  <div class="container-sm|md|lg|xl px-3 my-3">

    <h5 id="label1" class="text-dark">Press Get Jam to extract Blue and Green Jam from Biscuit. Press Replace Jam to
      replace Blue and Green Jam with plain biscuit or Star Jam</h5>


  </div>

  <!--------------------------- 3rd Container  ------------------------------------->
  <div class="container-sm|md|lg|xl px-3 my-3">
    <!-- 2nd Container 3rd row -->
    <div class="row">

      <!-- 1st row 1st Col-->
      <div class="col-md-4">

        <!-- Create h1 header -->
        <h5 id="txtLeft" class="text-primary">Mix Biscuit</h5>

        <img id="imleft" src="../static/MixBiscuit.png" alt="No Image loaded">

      </div>

      <!-- 1st row 2nd Col-->
      <div class="col-md-4">

        <!-- Print Text and store in id p1 -->
        <h5 id="txtCenter" class="text-warning">Plain Biscuit</h5>

        <img id="imCenter" src="../static/PlainBiscuit.png" alt="No Image loaded">

        <!-- Display Extracted Colour -->
      </div>

      <div class="col-md-4">

        <!-- Print Text and store in id p1 -->
        <h5 id="txtRight" class="text-danger">Star Biscuit</h5>

        <img id="imRight" src="../static/StarBiscuit.png" alt="No Image loaded">

      </div>
    </div>
  </div>
  <!--------------------------- 3rd Container  ------------------------------------->

  <!--------------------------- 4th Container  ------------------------------------->
  <div class="container-sm|md|lg|xl px-3 my-3">
    <!-- 3rd Container 1st row -->
    <div class="row p-3">

      <!-- Button -->
      <button id="btn1" onclick="extractJam()" type="button" class="btn mr-3 btn-dark">Get Jam</button>


      <!-- Button -->

      
      
      <button id="btn2" onclick="replaceJam()" type="button" class="btn mr-3 btn-dark">Replace Jam</button>

    </div>
  </div>
  <!--------------------------- 4th Container  ------------------------------------->




  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Points to JavaScript file -->
  <script src="../static/script.js"></script>

</body>


</html>